body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#pageWrapper {
  height: 100vh;
  width: 100vw;
  box-shadow: 0 0 100px rgb(68, 68, 68);
}

#topBar {
  display: block;
  height: 15%;
  border-bottom: 2px solid #bdbdbd;
}

#logoBar {
  height: 80%;
}

#logoBar img {
  max-width: 100%;
  height: 100%;
}

#navBar {
  display: flex;
  height: 20%;
  max-width: 100%;
  justify-content: flex-end;
}

#navBar ul {
  display: flex;
  float: right;
  flex: 1;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0px;
  max-width: 25%;
}

.navBarClass li {
  display: flex;
  flex: 1; /* equal width*/
  align-items: center; /*virtical*/
  justify-content: center; /**horizontical*/
  white-space: nowrap;
  font-variant: small-caps;
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(238, 237, 237);
  box-shadow: inset 5px 0 5px -5px #d8d8d8, inset -5px 0 5px -5px #cecece;
}
.navBarClass a {
  text-decoration: none;
  padding: 50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.navBarClass li:hover {
  background-color: rgb(68, 107, 72);
}

.navBarClass a:hover {
  text-decoration: none;
  color: white;
}

#main-container {
  display: flex;
  height: 85%;
}

#main-container-left {
  background-color: rgb(255, 255, 255);
  width: 35%;
  height: 100%;
}

#main-container-right {
  width: 65%;
  height: 100%;

  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*--------------------------------------------------------------------*/
